* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../img/desert_background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'Kenia', Arial, Helvetica, sans-serif;
    font-size: 72px;
}

.dialog-bg {
    z-index: 999;
    position: fixed;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog {
    background-color: rgba(255, 191, 2, 0.8);
    width: 720px;
    height: 480px;
    border-radius: 10px;
    display: flex;
    justify-content:center ;
    flex-direction: column;
    align-items: center;
}

.dialog h2 {
        font-family: 'Kenia', Arial, Helvetica, sans-serif;
            font-size: 62px;
            margin-bottom: 20px;
}

.dialog_line {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.dialog_line span {
    font-family: 'Kenia', Arial, Helvetica, sans-serif;
        font-size: 36px;
        margin-left: 30px;
 
}

.d-none {
    display: none !important;
}

canvas {
    border: 10px solid rgba(125, 48, 18, 1);
    border-radius: 20px;
    background-color: black;
}

#canvasContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav,
.restart {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    top: 435px;
}

nav>div>button,
.restart>div>button {
    border: 0;
    background-color: transparent;
}

nav>div>button>img,
.restart>div>button>img {
    background-color: rgba(255, 191, 2, 1);
    padding: 5px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 2px solid rgba(125, 48, 18, 1);
}

nav>div>button:hover,
.restart>div>button:hover {
    cursor: pointer;
    scale: 0.95;
}

.nav_button {
    display: flex;
    align-items: center;
}

.nav_button span,
.restart span {
    color: rgba(255, 191, 2, 1);
    font-family: 'Kenia', Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 10px;
}