* {
    padding: 0;
    margin: 0;
    --color-primary: rgba(255, 191, 2, 1);
    --color-secondary: rgba(125, 48, 18, 1);
    --color-tertiary: rgb(255, 255, 255, 0.7);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--color-primary);
    background-image: url('../img/desert_background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'Kenia', Arial, Helvetica, sans-serif;
    font-size: 72px;
    margin-bottom: 580px;
}

.dialog-bg {    
    z-index: 999;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog {
    background-color: var(--color-primary);
    width: 720px;
    height: 480px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.dialog h2 {
    font-family: 'Kenia', Arial, Helvetica, sans-serif;
    font-size: 62px;
    margin-bottom: 20px;
}

.dialog_line {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.dialog_line span {
    font-family: 'Kenia', Arial, Helvetica, sans-serif;
    font-size: 36px;
    margin-left: 30px;

}

.d-none {
    display: none !important;
}

.canvas_border {
    border: 10px solid var(--color-secondary);
}

canvas {
    margin-bottom: -4px;
    background-color: black;
    z-index: 0;
}

#canvasContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#panel1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    padding: 10px;
    margin-right: 20px;
}

#panel2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 5px;
}

#panel2Left,
#panel2Right,
#panel2Middle {
    display: flex;
    gap: 10px;
}

#panel2Left>button,
#panel2Right>button,
#panel2Middle>button {
    background-color: transparent;
    border: 0;
}


.mobilbutton {
    width: 35px;
    padding: 8px;
    background-color: var(--color-primary);
    border-radius: 50%;
    border: 2px solid var(--color-secondary);
}

.mobilbutton:active {
    scale: 0.95;
}

nav {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    top: 435px;
}

.gameOver {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 70px;
}

nav>div>button,
.gameOver>div>button {
    border: 0;
    background-color: transparent;
}

nav>div>button>img,
.gameOver>div>button>img {
    background-color: var(--color-primary);
    padding: 5px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 2px solid var(--color-secondary);
}

nav>div>button:hover,
.gameOver>div>button:hover {
    cursor: pointer;
    scale: 0.95;
}

.nav_button {
    display: flex;
    align-items: center;
}

.nav_button span {
    color: var(--color-secondary);
    font-family: 'Kenia', Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 10px;
}

.gameOver span {
    color: var(--color-tertiary);
    font-family: 'Kenia', Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 10px;
}

@media only screen and (max-width: 720px) {
    #mobilNav {
        display: block;
    }

    h1 {
        display: none;
    }

    canvas {
        width: 100%;
    }

    #nav {
        display: none;
    }
}

@media only screen and (max-height: 480px) {
    h1 {
        display: none;
    }

    canvas {
        height: 100vh;
    }

    #nav {
        display: none;
    }

    .canvas_border {
        border: none;
        border-left: 10px solid var(--color-secondary);
        border-right: 10px solid var(--color-secondary);
        border-bottom: none;
    }

    #panel {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}

@media ((orientation: portrait) and (max-width: 480px)) {
    #panel {
        display: none;
    }

    canvas {
        display: none;
    }

    .canvas_border {
        border: none;
    }

    body {
        background-image: url('../img/background_mobilephone.png');
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 999 !important;
        background-color: var(--color-primary);
    }
}

@media (min-width: 720px) and (min-height: 720px) {
    #panel {
        display: none;
    }
}