body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    /* background-image: url('../img/desert_background.png'); */
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'Kenia', Arial, Helvetica, sans-serif;
    font-size: 72px;
    /* text-shadow: 8px 4px 6px rgba(0,0,0,0.3); */
}

canvas {

    background-color: black;
}

#canvasContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.try_again {
    display: none;
    position: absolute;
    top: 390px;
    padding: 15px 40px;
    background-color: rgba(255, 209, 17, 255);
    border-radius: 20px;
    border: 2px solid rgba(125, 47, 19, 255);
    box-shadow: -3px 2px 2px rgba(125, 47, 19, 255);
    font-size: 22px;
    font-weight: bold;
    color: rgba(125, 47, 19, 255);

}

.try_again:hover {
    cursor: pointer;
    border: 3px solid rgba(125, 47, 19, 255);

    scale: 0.95;
}